{% extends 'base_layout.html'%}


{% block content %}
        <h2 class="loginheader">
            <button name="botao-icon" onclick="history.back()">
                <span class="glyphicon glyphicon-circle-arrow-left"></span>
            </button>
        Adicionar Circuito</h3>
        <div id="relatorio-visualiza-wrapper"  class="container-fluid">
            <div id="criaRelatorio" class="container-fluid">
                <form class="site-form" action="{% url 'relatorio:addcircuito' rel_id=rel_pai %}" method="post">
                    {% csrf_token %}
                    <table style="border: 0px;">
                    {{ form.as_table }}
                    </table>
                    <input type="submit" value="Criar">
                </form>
        </div>
    </div>
{% endblock %}