{% extends 'base_layout.html'%}


{% block content %}
        <h2 class="loginheader"><button class="botao-icon" onclick="history.back()">Relatório</button></h2>
        <div class="compromisso-visualiza-wrapper">
        <div class="criaCompromisso">
                <form class="site-form" action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Atualizar">
                </form>
        </div>
        </div>
{% endblock %}