{% extends 'base_layout.html'%}


{% block content %}
        <h2 class="loginheader"><button id="botao-icon" onclick="history.back()">Relatório</button></h2>
        <div id="relatorio-visualiza-wrapper">
        <div id="criaRelatorio">
                <form class="site-form" enctype="multipart/form-data" action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <p>
                        <label for="id_imagens">Imagens:</label>
                        <input type="file" name="imagens[]" id="id_imagens" multiple>
                        </p>
                        <input type="submit" value="Atualizar">
                </form>
        </div>
        </div>
{% endblock %}