{% extends 'base_layout.html'%}


{% block content %}
        <h2 class="loginheader">Criar Relatório</h2>
        <div id="relatorio-visualiza-wrapper"  class="container">
            <div id="criaRelatorio">
                <form class="site-form" enctype="multipart/form-data" action="{% url 'relatorio:cria' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p>
                    <label for="id_imagens">Imagens:</label>
                    <input type="file" name="imagens[]" id="id_imagens" multiple>
                    </p>
                    <input type="submit" value="Criar">
                </form>
        </div>
    </div>
{% endblock %}