{% extends 'base_layout.html'%}

{% block content %}
<div id="relatorio-visualiza-wrapper"  class="container-fluid">
        <div class="container">
                <h2 style="text-align:center;">Avaliação e planejamento da execução</h3>
                <nav class="navbar navbar-expand-lg justify-content-space-between">        
                        <button id="botao-icon" class="navbar-brand" onclick="history.back()">
                                <h3><span class="glyphicon glyphicon-circle-arrow-left"></span></h3>
                        </button>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <h3><span class="glyphicon glyphicon-menu-hamburger"></span></h3>
                        </button>
                        <a id="botao-icon" class="nav-link" href="{% url 'relatorio:edita' rel_id=relatorio.id %}">
                                <span class="glyphicon glyphicon-edit"></span> editar
                        </a>
                </nav>
        <div id="relatorio-visualiza" class="container-fluid">
                <p><b>Qualificação profissional dos responsáveis pela inspeção:</b> {{relatorio.qualiprof}}</p>
                <p><b>Os participantes da inspeção estão bem fisicamente e mentalmente?</b> {{relatorio.integridade}}</p>
                <p><b>Houve diálogo de segurança?</b> {{relatorio.dialogo}}</p>
                <p><b>Um ou mais executores da inspeção possui curso NR-10?</b> {{relatorio.curso_nr}}</p>
                <p><b>O serviço foi preliminarmente conferido?</b> {{relatorio.conferido}}</p>
                <p><b>Quais riscos foram detectados na inspeção:</b> {{ relatorio.riscos }}</p>
                <p><b>Quais equipamentos de segurança serão utilizados:</b> {{relatorio.equipamentos}}</p>
                <p><b>Este serviço requer desligamento ou bloqueio de equipamento ou rede?</b> {{relatorio.desligamento}}</p>
                <p><b>Sinalização requerida para o serviço:</b> {{relatorio.sinalizacao}}</p>
                <p><b>Necessita delimitar a área de trabalho?</b> {{relatorio.delimitar_area}}</p>
                <p><b>Necessita de auxílio de concessionária local?</b> {{relatorio.auxconces}}</p>
                <p><b>Necessário fazer verificação de tensão?</b> {{relatorio.tensao}}</p>
                <p><b>A inspeção requer aterramento temporário?</b> {{relatorio.aterramento}}</p>
                <p><b>A inspeção será realizada em altura?</b> {{relatorio.altura}}</p>
                <p><b>Será necessário se aprisionar à escada e utilização de cinto de segurança?</b> {{relatorio.cinto_seg}}</p>
                <p><b>Os requisitos de segurança foram atendidos por todos?</b> {{relatorio.requi_seg}}</p>
                <p><b>Houve necessidade de reavaliação das inspeções realizadas?</b> {{relatorio.reavaliacao}}</p>
                
        </div>
        </div>
</div>

{% endblock %}