{% extends 'base_layout.html'%}

{% block content %}
<header style="margin-inline:5%;">
        <h2>Avaliação qualitativa da instalação elétrica</h2>
        <nav>
        <li>
                <a class="botao-icon" href="{% url 'relatorio:editaqualitativas' rel_id=relatorio.id %}">
                        <span class="glyphicon glyphicon-edit"></span> editar
                </a>
                <a class="botao-icon" href="{% url 'relatorio:deleta' rel_id=relatorio.id %}">
                        <span class="glyphicon glyphicon-trash"></span> deletar
                </a>
        </li>
        </nav>
</header>

<div class="compromisso-visualiza-wrapper">
        <div class="compromisso-visualiza">
                <p><b>Há documentação da instalação e esta inclui 
                        plantas, esquemas unifilares e outros, detalhes de 
                        montagem, memorial descritivo, especificações 
                        de componentes, parâmetros de projeto?</b> {{relatorio.documentacao}}</p>
        </div>
</div>

{% endblock %}