{% extends 'base_layout.html'%}

{% block content %}

<div id="relatorio-visualiza-wrapper"  class="container-fluid">
        <div class="container">
                <h2 style="text-align:center;">Avaliação quantitativa da instalação elétrica</h2>
                <nav class="navbar navbar-expand-lg justify-content-space-between">        
                        <button id="botao-icon" class="navbar-brand" onclick="history.back()">
                                <h2><span class="glyphicon glyphicon-circle-arrow-left"></span></h2>
                        </button>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <h3><span class="glyphicon glyphicon-menu-hamburger"></span></h3>
                        </button>
                        <a id="botao-icon" class="nav-link" href="{% url 'relatorio:edita' rel_id=relatorio.id %}">
                                <span class="glyphicon glyphicon-edit"></span> editar
                        </a>
                </nav>
        <div id="relatorio-visualiza" class="container-fluid">
                        <h3>Parte I: Quadro de Distribuição – Alimentador principal</h3>
                        <br>
                        <p><b>Capacidade de barramento:</b>{{ relatorio.capbarramento }}</p>
                        <p><b>Proteção Geral Disjuntor:</b>{{ relatorio.protgeral }}</p>
                        <p><b>Proteção DR:</b>{{ relatorio.protdr }}</p>
                        <p><b>Proteção DPS:</b>{{ relatorio.protdps }}</p>
                        <table>
                                <tr>
                                        <th>Vab</th>
                                        <th>Vbc</th>
                                        <th>Vca</th>
                                </tr>
                                <tr>
                                        <td>{{ relatorio.vab }}</td>
                                        <td>{{ relatorio.vbc }}</td>
                                        <td>{{ relatorio.vca }}</td>
                                </tr>

                                <tr>
                                        <th>Van</th>
                                        <th>Vbn</th>
                                        <th>Vcn</th>
                                </tr>
                                <tr>
                                        <td>{{ relatorio.van }}</td>
                                        <td>{{ relatorio.vbn }}</td>
                                        <td>{{ relatorio.vcn }}</td>
                                </tr>

                                <tr>
                                        <th>Ia</th>
                                        <th>Ib</th>
                                        <th>Ic</th>
                                </tr>
                                <tr>
                                        <td>{{ relatorio.ia }}</td>
                                        <td>{{ relatorio.ib }}</td>
                                        <td>{{ relatorio.ic }}</td>
                                </tr>
                        </table>
                        <br>
                        <h3>Parte II: Ensaios Realizados</h3>
                        <br>
                        <p><b>Continuidade dos condutores de proteção e das quipotencializações principal e suplementar?</b> {{ relatorio.continuidade }}</p>
                        <p><b>Resistência de isolamento da instalação elétrica?</b>{{ relatorio.resistencia }}</p>
                        <p><b>Resistência de isolamento aplicável a SELV, PELV e separação elétrica?</b>{{ relatorio.selvpelv }}</p>
                        <p><b>Verificação das condições de proteção por eqüipotencialização e seccionamento automático da alimentação?</b>{{ relatorio.verificacao }}</p>
                        <p><b>Ensaio de tensão aplicada?</b>{{ relatorio.ensaiodetensao }}</p>
                        <p><b>Ensaio de funcionamento?</b>{{ relatorio.ensaiodefunc }}</p>
                        <br>
                        <br>
                        <h3>Parte III: Medições de Circuitos Terminais</h3>
                        <br>
                        <table>
                                <tr>
                                        <th>Circuito</th>
                                        <th>Fase</th>
                                        <th>Disjuntor</th>
                                        <th>Descrição</th>
                                        <th>Condutor</th>
                                        <th>Corrente</th>
                                </tr>
                        {% for circuito in circuitos %}
                                <tr>
                                        <td>{{ circuito.modelo }}</td>
                                        <td>{{ circuito.fase }}</td>
                                        <td>{{ circuito.disjuntor }}</td>
                                        <td>{{ circuito.descricao }}</td>
                                        <td>{{ circuito.condutor }}</td>
                                        <td>{{ circuito.corrente }}</td>
                                </tr>
                        {% endfor %}
                        </table>
                        <br>

                        <a id="botao-icon" href="{% url 'relatorio:addcircuito' rel_id=relatorio.id %}">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                                Add Circuito
                        </a>
        </div>
        </div>
</div>

{% endblock %}