{% extends 'base_layout.html'%}

{% block content %}
<header style="margin-inline:5%;">
        <h2>
                <button id="botao-icon" onclick="history.back()">
                        <span class="glyphicon glyphicon-circle-arrow-left"></span>
                </button>
                Meu Relatório
        </h2>
        <nav>
        <li>
                <a id="botao-icon" href="{% url 'relatorio:exporta' rel_id=relatorio.id %}">
                        <span class="glyphicon glyphicon-export"></span> exportar
                </a>
                <a id="botao-icon" href="{% url 'relatorio:edita' rel_id=relatorio.id %}">
                        <span class="glyphicon glyphicon-edit"></span> editar
                </a>
                <a id="botao-icon" href="{% url 'relatorio:deleta' rel_id=relatorio.id %}">
                        <span class="glyphicon glyphicon-trash"></span> deletar
                </a>
        </li>
        </nav>
</header>

<div id="relatorio-visualiza-wrapper">
        <div id="relatorio-visualiza">
                <p><b>Data:</b> {{ relatorio.data }}</p>
                <p><b>Local:</b> {{ relatorio.local }}</p>
                <p><b>Temperatura:</b> {{relatorio.temperatura}} °C</p>
                <p><b>Condições Climáticas:</b> {{relatorio.clima}} </p>
                <p><b>Responsáveis pela Inspeção:</b>  {{ relatorio.responsaveis }}</p>
                <br>

                
                <p><b>Imagens:</b></p>
                <table style="margin:inherit;">
                        <tr>
                {% for imagem in imagens %}
                                <td><img src='{{ imagem.img.url }}'></td>
                {% endfor %}
                        </tr>
                </table>                        
                <nav>
                        <li>
                                <a id="botao-icon" href="{% url 'relatorio:addplanejamento' rel_id=relatorio.id %}">
                                        <span class="glyphicon glyphicon-list-alt"></span> Avaliação de Planejamento
                                </a>
                                <a id="botao-icon" href="{% url 'relatorio:addexternas' rel_id=relatorio.id %}">
                                        <span class="glyphicon glyphicon-list-alt"></span> Avaliação de Influências Externas
                                </a>
                                <a id="botao-icon" href="{% url 'relatorio:addqualitativas' rel_id=relatorio.id %}">
                                        <span class="glyphicon glyphicon-list-alt"></span> Avaliação Qualitativa
                                </a>
                                <a id="botao-icon" href="{% url 'relatorio:addquantitativas' rel_id=relatorio.id %}">
                                        <span class="glyphicon glyphicon-list-alt"></span> Avaliação Quantitativa
                                </a>
                        </li>
                </nav>
        </div>
</div>

{% endblock %}