{% extends 'base_layout.html'%}

{% block content %}
<div id="relatorio-visualiza-wrapper"  class="container-fluid">
        <div class="container">
                <h2 style="text-align:center;">Avaliação das influencias externas da instalação elétrica</h3>
                <nav class="navbar navbar-expand-lg justify-content-space-between">        
                        <button id="botao-icon" class="navbar-brand" onclick="history.back()">
                                <h3><span class="glyphicon glyphicon-circle-arrow-left"></span></h3>
                        </button>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <h3><span class="glyphicon glyphicon-menu-hamburger"></span></h3>
                        </button>
                        <a id="botao-icon" class="nav-link" href="{% url 'relatorio:edita' rel_id=relatorio.id %}">
                                <span class="glyphicon glyphicon-edit"></span> editar
                        </a>
                </nav>
        <div id="relatorio-visualiza" class="container-fluid">
                <p><b>Temperatura Ambiente: </b> {{relatorio.tempambiente}}</p>
                <p><b>Condições climáticas do ambiente: </b> {{ relatorio.condambiente }}</p>
                <p><b>Altitude: </b> {{ relatorio.altitude }}</p>
                <p><b>Presença de água: </b> {{ relatorio.presagua }}</p>
                <p><b>Presença de corpos sólidos: </b> {{ relatorio.pressolidos }}</p>
                <p><b>Presença de substâncias corrosivas ou poluentes: </b> {{ relatorio.pressubst }}</p>
                <p><b>Solicitações mecânicas: </b> {{ relatorio.solmecanicas }}</p>
                <p><b>Presença de flora e mofo: </b> {{ relatorio.presmofo }}</p>
                <p><b>Presença de fauna: </b> {{ relatorio.presfauna }}</p>
                <p><b>Influências  eletromagnéticas, eletrostáticas ou ionizantes: </b> {{ relatorio.infleletro }}</p>
                <p><b>Radiação solar: </b> {{ relatorio.radsolar }}</p>
                <p><b>Descargas atmosféricas: </b> {{ relatorio.descatm }}</p>
                <p><b>Movimentação do ar: </b> {{ relatorio.movdoar }}</p>
                <p><b>Vento: </b> {{ relatorio.vento }}</p>
                <p><b>Competência das pessoas: </b> {{ relatorio.competencia }}</p>
                <p><b>Resistência  elétrica  do  corpo humano no ambiente: </b> {{ relatorio.reseletr }}</p>
                <p><b>Contato  das  pessoas  com  o potencial da terra: </b> {{ relatorio.contpessoas}}</p>
                <p><b>Condições de fuga das pessoas em emergências: </b> {{ relatorio.condfuga }}</p>
                <p><b>Natureza dos materiais processados ou armazenados: </b> {{ relatorio.natmatpr }}</p>
                <p><b>Qual a natureza dos materiais de construção: </b> {{ relatorio.natmatcons }}</p>
                <p><b>Qual a classificação da estrutura das edificações: </b> {{ relatorio.classestr }}</p>
                
        </div>
        </div>
</div>

{% endblock %}