{% extends 'base_layout.html'%}

{% block content %}
    <header>
        <div class="meuscompromissosdiv">
            <h2>Meus Relatórios</h2>
        </div>
        <nav>
            <li>
                <a class="botao-icon" href="{% url 'relatorio:cria' %}">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    Novo Relatório
                </a>
            </li>
            <li>
                <form method=POST action="{% url 'home' %}" class="form-inline">
                    {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="Buscar por Local" aria-label="Search" name="busca">
                    <button class="btn-outline-secondary" id="searchbutton" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </form>
            </li>
        </nav>
    </header>
    <div class="compromissos">
        {% if not relatorios %}
            {% if busca %}
                <br>
                <p style="margin-left: 20px;">  Sua busca por ' {{ busca }} ' não encontrou resultados.</p>
                <br>
            {% else %}
                <br>
                <p style="margin-left: 20px;">  Não há nenhum relatório ainda.</p>
                <br>
            {% endif %}
        {% else %}
            {% for relatorio in relatorios %}
            <a href="{% url 'relatorio:visualiza' rel_id=relatorio.id %}">
                <div class="compromisso">
                    <p>Data: {{ relatorio.data }}</p>
                    <p>Local: {{ relatorio.local }}</p>
                    <p class="obs">Responsáveis: {{ relatorio.responsaveis }}</p>
                </div>
            </a>
            {% endfor %}
        {% endif %}
        </div>
{% endblock %}