@import url('https://fonts.googleapis.com/css?family=Pacifico');

body{
    background-color: #ffffff;
    color: #005b88;
    padding: 0 1px 0 1px;
    font-family: Pacifico;
    font-size: medium;
}

body*{
    font-family: Ubuntu;
}

p.obs{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 330px;
    word-wrap: break-word;
    padding-bottom: 1%;
}

p.obs:hover{
    white-space: pre-wrap;
    overflow: visible;
    width: 100%;
}

img{
    width: 60px;
    height: auto;
    vertical-align: bottom;
}

.loginheader{
    text-align: center;
}

.visualizalogin{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login{
    width: 300px;
    border: 1px solid #005b88;
    align-self: center;
    text-align: center;
    margin: 20px;
    padding: 20px;
    align-items: center;
    display: block;
}


.compromissos{
    width: 100%;
    display: table;
    border: 1px solid #005b88;
}
.compromisso{
    width: 350px;
    border-radius: 20px;
    float: left;
    box-shadow: -2px 3px #005b88bd;
    border: 2px solid #005b88;
    margin: 30px;
    padding: 20px;
}

.compromisso-visualiza-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.compromisso-visualiza{
    width: 800px;
    border-radius: 20px;
    align-self: center;
    text-align: center;
    border: 2px solid #005b88;
    margin: 40px;
    padding: 30px;
}


h1 a{
    font-family: Pacifico;
    font-weight: normal;
    font-size: 30px;
    margin: 0;
}


h2,h3,h4,h5{
    font-family: Pacifico;
    color: #005b88;
    font-weight: normal;
    margin: 0;
}

a{
    color: #005b88;
}

a, a:hover, a:visited{
    text-decoration: none;
}

a:hover{
    color: #0082c4;
}

.wrapper{
    margin: 0 auto;
    padding: 20px;
}

header{
    display: grid;
    align-self: center;
    grid-template-columns: 1fr 1fr;
    padding: 20px 0;
}

nav{
    justify-self: end;
}

nav li{
    display: inline-block;
    margin-left: 20px;
}

.botao-icon{
    background: none;
    font-family: Pacifico;
    color: #005b88;
    cursor: pointer;
    size-adjust: 2px;
    cursor: pointer;
}


.glyphicon:hover{
    color: #0082c4;
}

.meuscompromissosdiv{
    display: inline-block;
}

.criaCompromisso{
    display: block;
    width: 900px;
    border: 1px solid #005b88;
    margin: 20px;
    padding: 20px;
    padding-left: 3%;
}

.site-form input, .site-form textarea, .siteform select{
    color: #0f121f;
    background-color: #f8fcff;
    margin: 20px 10px 10px 0;
    padding: 10px;
    text-align: center;
}


.criaCompromisso input, .criaCompromisso textarea, .criaCompromisso select{
    display:inline-table;
    margin-right: auto;
}

.criaCompromisso input[value="Criar"], .criaCompromisso input[value="Atualizar"]{
    margin-left: 47%;
}

.login input, .login textarea, .login select{
    display:block;
    margin-right: auto;
    margin-left: auto;
}

.helptext, .helptext ul{
    margin: 0 auto 20px;
    color: rgb(255, 0, 0);
    font-size: 0.85em;
    display: block;
}

.help-block strong, .errorlist li{
    padding: 10px;
    border: 1px solid #ff5722;
    color: #ff5722;
    margin: 10px 0;
}

.errormsg{
    padding: 10px;
    border: 1px solid #ff5722;
    color: #ff5722;
    margin: 10px 0;
}

.btn-outline-secondary{
    background-color: #548daa;
    color:#fff;
}

.btn.btn-default.btn-sm{
    color: #005b88;
    background-color: transparent;
    border-color: transparent;
    margin: 40px 0 0 0;
}

.site-form div{
    border: 1px solid #005b88;
    width: 70%;
    background-color: #f8fcff;
    text-align: center;
    align-items: center;
    padding-bottom: 5px;
}

.site-form div div{
    border: none;
    width: 180px;
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

.site-form p{
    display: grid;
}

.site-form p label{
    font-size: 19px;
}

.site-form div label{
    font-size: 15px;
}

ul#id_especialista li{
    display: inline-block;
}
